* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    color: white;
    margin: 10px 0;
}

#h1__ver {
    color: red; 
}

strong {
    color: blue;
    border: 4px solid blue;
    padding: 4px;
    transition: 0.3s ease-in-out;
}

span {
    color: red;
    border: 4px solid red;
    padding: 4px;
    transition: 0.3s ease-in-out;
}

img {
    width: 100%;
    max-width: 300px; 
    height: auto; 
    border-radius: 10px; 
}

.social-buttons {
    margin-top: 20px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 18px 26px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
    text-align: center;
}


.linkedin {
    background-color: #020092;
    color: white;
}

.github {
    background-color: #a00000;
    color: white;
}

.instagram {
    background-color: #516bff;
    color: white;
}

.btn:hover, .btn:focus {
    opacity: 0.8;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .btn {
        padding: 12px 18px;
        font-size: 16px;
    }
    img {
        max-width: 100%;
    }
    .social-buttons {
        text-align: center;
    }
}
